# ETL Project Breweries and Census Data
### The purpose of this project is to practice extracting, transforming, and loading data from two sources. 

### The goal is to provide data for US breweries per state population.

In [1]:
# import Dependencies
import pandas as pd
import requests
import pymongo

# (E)xtraction
### Sources used for this project:

#### From Kaggle:
* Breweries: https://www.kaggle.com/brkurzawa/us-breweries#breweries_us.csv

#### From US Census Bureau:
* Population: https://www.census.gov/newsroom/press-kits/2018/pop-estimates-national-state.html![image.png](attachment:image.png)

In [2]:
#read breweries csv into dataframe and display head.

breweries_df = pd.read_csv("Resources/breweries_us.csv")
breweries_df.head()

,brewery_name,type,address,website,state,state_breweries
0,Valley Brewing Co.,Brewpub,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,california,284
1,Valley Brewing Co.,Brewpub,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,california,284
2,Valley Brewing Co,Microbrewery,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,california,284
3,Ukiah Brewing Company,Brewpub,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,california,284
4,Tustin Brewing Co.,Brewpub,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,california,284

In [3]:
#read census csv into dataframe and display head.
census_df = pd.read_csv("Resources/nst-est2018-popchg2010_2018.csv")
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,...,NRANK_NPCHG2018,NRANK_PPCHG2010,NRANK_PPCHG2011,NRANK_PPCHG2012,NRANK_PPCHG2013,NRANK_PPCHG2014,NRANK_PPCHG2015,NRANK_PPCHG2016,NRANK_PPCHG2017,NRANK_PPCHG2018
0,10,0,0,0,United States,308758105,309326085,311580009,313874218,316057727,...,X,X,X,X,X,X,X,X,X,X
1,20,1,0,0,Northeast Region,55318430,55380645,55600532,55776729,55907823,...,4,3,3,3,4,4,4,4,4,4
2,20,2,0,0,Midwest Region,66929743,66974749,67152631,67336937,67564135,...,3,4,4,4,3,3,3,3,3,3
3,20,3,0,0,South Region,114563045,114867066,116039399,117271075,118393244,...,1,1,1,1,1,1,1,1,1,1
4,20,4,0,0,West Region,71946887,72103625,72787447,73489477,74192525,...,2,2,2,2,2,2,2,2,2,2

# (T)ransformation

### Transform breweries data

In [4]:
# explore column names
breweries_df.columns

Index(['brewery_name', 'type', 'address', 'website', 'state',
       'state_breweries'],
      dtype='object')

In [5]:
# select specific columns
 
breweries_col = ['state',
       'state_breweries']
breweries = breweries_df[breweries_col].copy()

# Rename columns
breweries = breweries.rename(columns={'state_breweries': 'count'})

# Change state names to lower-case to match the two datasets

breweries['state']=breweries['state'].str.lower() 

# Replace '-' with ' ' in state namnes
breweries['state']=breweries['state'].str.replace(r'-',' ')

# remove duplicates
breweries.drop_duplicates(inplace=True)
breweries

               state  count
0         california    284
284           nevada     18
302          wyoming      8
310          alabama      6
316      connecticut     11
327             iowa     13
340         missouri     21
361         nebraska     15
376           alaska     14
390          arizona     34
424         arkansas      7
431         colorado    182
613         delaware     14
627          florida     99
726          georgia     47
773           hawaii     10
783            idaho     28
811         illinois     74
885          indiana     31
916           kansas     26
942         kentucky     12
954        louisiana     15
969            maine     44
1013        maryland     43
1056   massachusetts     71
1127        michigan     94
1221       minnesota     40
1261         montana     32
1293   new hampshire     18
1311      new jersey     41
1352      new mexico     37
1389        new york    107
1496  north carolina     61
1557    north dakota      5
1562            ohio     56
1618        oklahoma     16
1634          oregon    156
1790    pennsylvania    107
1897    rhode island     12
1909  south carolina     32
1941    south dakota     11
1952       tennessee     28
1980           texas     90
2070            utah     21
2091         vermont     28
2119        virginia     43
2162      washington    151
2313   west virginia      5
2318       wisconsin     77
2395   washington dc      9
2404     puerto rico      3

In [6]:
# explore columns in census dataframe.
census_df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'ESTIMATESBASE2010',
       'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018', 'NPOPCHG_2010',
       'NPOPCHG_2011', 'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014',
       'NPOPCHG_2015', 'NPOPCHG_2016', 'NPOPCHG_2017', 'NPOPCHG_2018',
       'PPOPCHG_2010', 'PPOPCHG_2011', 'PPOPCHG_2012', 'PPOPCHG_2013',
       'PPOPCHG_2014', 'PPOPCHG_2015', 'PPOPCHG_2016', 'PPOPCHG_2017',
       'PPOPCHG_2018', 'NRANK_ESTBASE2010', 'NRANK_POPEST2010',
       'NRANK_POPEST2011', 'NRANK_POPEST2012', 'NRANK_POPEST2013',
       'NRANK_POPEST2014', 'NRANK_POPEST2015', 'NRANK_POPEST2016',
       'NRANK_POPEST2017', 'NRANK_POPEST2018', 'NRANK_NPCHG2010',
       'NRANK_NPCHG2011', 'NRANK_NPCHG2012', 'NRANK_NPCHG2013',
       'NRANK_NPCHG2014', 'NRANK_NPCHG2015', 'NRANK_NPCHG2016',
       'NRANK_NPCHG2017', 'NRANK_NPCHG2018', 'NRANK_PPCHG2010',
       'NRANK_PPCHG2011', 'NRANK_PPCHG2012', 'NRANK_PPCHG2013',
       'NRANK_PPCHG2014', 'NRANK_PPCHG2015', 'NRANK_PPCHG2016',
       'NRANK_PPCHG2017', 'NRANK_PPCHG2018'],
      dtype='object')

In [7]:
#Tranform and clean-up

census_df.head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,...,NRANK_NPCHG2018,NRANK_PPCHG2010,NRANK_PPCHG2011,NRANK_PPCHG2012,NRANK_PPCHG2013,NRANK_PPCHG2014,NRANK_PPCHG2015,NRANK_PPCHG2016,NRANK_PPCHG2017,NRANK_PPCHG2018
0,10,0,0,0,United States,308758105,309326085,311580009,313874218,316057727,...,X,X,X,X,X,X,X,X,X,X
1,20,1,0,0,Northeast Region,55318430,55380645,55600532,55776729,55907823,...,4,3,3,3,4,4,4,4,4,4
2,20,2,0,0,Midwest Region,66929743,66974749,67152631,67336937,67564135,...,3,4,4,4,3,3,3,3,3,3
3,20,3,0,0,South Region,114563045,114867066,116039399,117271075,118393244,...,1,1,1,1,1,1,1,1,1,1
4,20,4,0,0,West Region,71946887,72103625,72787447,73489477,74192525,...,2,2,2,2,2,2,2,2,2,2
5,40,3,6,1,Alabama,4780138,4785448,4798834,4815564,4830460,...,27,37,38,34,33,35,36,34,34,34
6,40,4,9,2,Alaska,710249,713906,722038,730399,737045,...,45,2,8,11,18,48,37,22,46,49
7,40,4,8,4,Arizona,6392288,6407774,6473497,6556629,6634999,...,4,15,10,7,7,7,9,9,6,4
8,40,3,7,5,Arkansas,2916028,2921978,2940407,2952109,2959549,...,30,22,28,31,38,31,30,26,24,28
9,40,4,9,6,California,37254523,37320903,37641823,37960782,38280824,...,3,26,17,19,20,16,16,20,23,25

In [8]:
# drop rows that are not states.
census_df = census_df[census_df['STATE'] > 0]
census_df

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,...,NRANK_NPCHG2018,NRANK_PPCHG2010,NRANK_PPCHG2011,NRANK_PPCHG2012,NRANK_PPCHG2013,NRANK_PPCHG2014,NRANK_PPCHG2015,NRANK_PPCHG2016,NRANK_PPCHG2017,NRANK_PPCHG2018
5,40,3,6,1,Alabama,4780138,4785448,4798834,4815564,4830460,...,27,37,38,34,33,35,36,34,34,34
6,40,4,9,2,Alaska,710249,713906,722038,730399,737045,...,45,2,8,11,18,48,37,22,46,49
7,40,4,8,4,Arizona,6392288,6407774,6473497,6556629,6634999,...,4,15,10,7,7,7,9,9,6,4
8,40,3,7,5,Arkansas,2916028,2921978,2940407,2952109,2959549,...,30,22,28,31,38,31,30,26,24,28
9,40,4,9,6,California,37254523,37320903,37641823,37960782,38280824,...,3,26,17,19,20,16,16,20,23,25
10,40,4,8,8,Colorado,5029316,5048281,5121771,5193721,5270482,...,8,6,4,5,5,4,4,10,8,7
11,40,1,1,9,Connecticut,3574147,3579125,3588023,3594395,3594915,...,44,30,42,43,50,46,50,48,44,43
12,40,3,5,10,Delaware,897934,899595,907316,915188,923638,...,32,24,18,18,17,13,15,16,17,12
13,40,3,5,11,District of Columbia,601766,605085,619602,634725,650431,...,35,1,1,1,2,2,2,7,10,15
14,40,3,5,12,Florida,18804580,18845785,19093352,19326230,19563166,...,2,19,6,8,6,5,5,2,5,5
15,40,3,5,13,Georgia,9688709,9711810,9801578,9901496,9973326,...,7,17,12,15,23,14,13,13,15,14
16,40,4,9,15,Hawaii,1360307,1363963,1379252,1394905,1408453,...,47,11,9,12,15,28,24,27,48,48
17,40,4,8,16,Idaho,1567657,1570773,1583828,1595441,1611530,...,17,23,19,24,12,11,12,3,1,2
18,40,2,3,17,Illinois,12831572,12840762,12867291,12884119,12898269,...,50,42,45,46,45,47,49,50,49,50
19,40,2,3,18,Indiana,6484061,6490436,6516045,6537640,6568367,...,18,38,34,36,31,30,35,28,25,24
20,40,2,4,19,Iowa,3046872,3050767,3066054,3076097,3093078,...,28,33,31,37,29,26,29,29,26,26
21,40,2,4,20,Kansas,2853126,2858213,2869035,2885361,2893510,...,42,25,36,29,35,34,31,41,42,42
22,40,3,6,21,Kentucky,4339333,4348200,4369488,4386381,4404817,...,26,21,32,33,32,37,32,32,27,29
23,40,3,7,22,Louisiana,4533485,4544532,4575184,4600814,4624577,...,48,14,24,30,30,29,28,31,45,46
24,40,1,1,23,Maine,1328369,1327632,1328150,1327691,1328196,...,38,50,49,50,48,38,48,35,31,35
25,40,3,5,24,Maryland,5773798,5788642,5838991,5887072,5923704,...,24,13,15,21,27,25,26,30,29,30
26,40,1,1,25,Massachusetts,6547790,6566431,6613149,6663158,6713944,...,16,8,23,23,22,20,27,24,22,22
27,40,2,3,26,Michigan,9884117,9877535,9881521,9896930,9913349,...,22,51,48,45,43,39,42,37,33,38
28,40,2,4,27,Minnesota,5303925,5310843,5345668,5376550,5413693,...,15,32,27,28,24,23,23,19,18,18
29,40,3,6,28,Mississippi,2968118,2970536,2978470,2983767,2988797,...,46,41,39,42,42,45,47,44,40,44
30,40,2,4,29,Missouri,5988952,5995976,6009641,6024081,6040658,...,23,35,44,40,36,33,33,33,28,31
31,40,4,8,30,Montana,989409,990722,997221,1003754,1013564,...,33,31,26,27,14,17,17,15,13,17
32,40,2,4,31,Nebraska,1826305,1829536,1840538,1853323,1865414,...,29,27,29,26,26,19,20,18,20,21
33,40,4,8,32,Nevada,2700679,2702464,2712799,2744566,2776972,...,10,43,35,10,8,6,6,6,3,1
34,40,1,1,33,New Hampshire,1316464,1316777,1319815,1323962,1326408,...,36,47,43,38,41,27,34,23,21,23
35,40,1,2,34,New Jersey,8791962,8799624,8827783,8845483,8858362,...,21,40,37,41,44,42,40,43,35,36
36,40,4,8,35,New Mexico,2059180,2064588,2080395,2087549,2092792,...,39,12,21,35,39,49,45,39,41,40
37,40,1,2,36,New York,19378124,19400080,19498514,19574549,19628043,...,51,36,30,32,37,40,41,46,47,47
38,40,3,5,37,North Carolina,9535736,9574293,9656754,9749123,9843599,...,5,4,16,17,16,15,14,12,14,10
39,40,2,4,38,North Dakota,672576,674710,685136,701116,721999,...,37,7,3,2,1,1,1,42,38,19
40,40,2,3,39,Ohio,11536757,11539327,11543463,11548369,11576576,...,19,48,50,48,40,36,39,38,32,37
41,40,3,7,40,Oklahoma,3751583,3759632,3787821,3818600,3853205,...,31,20,22,22,19,24,18,25,36,33
42,40,4,9,41,Oregon,3831075,3837532,3871728,3899118,3922908,...,14,28,14,25,28,12,11,4,9,11
43,40,1,2,42,Pennsylvania,12702873,12711158,12744583,12766827,12776621,...,25,45,40,44,46,41,46,45,39,39
44,40,1,1,44,Rhode Island,1052957,1053938,1053536,1054601,1055122,...,41,39,51,47,47,43,43,40,43,41
45,40,3,5,45,South Carolina,4625381,4635656,4671422,4717112,4764153,...,9,18,20,16,13,10,10,11,11,9
46,40,2,4,46,South Dakota,814198,816165,823484,833496,842270,...,34,16,13,9,9,18,22,14,12,13
47,40,3,6,47,Tennessee,6346286,6355301,6397410,6451281,6493432,...,11,29,25,20,25,21,19,17,16,16
48,40,3,7,48,Texas,25146114,25242679,25646227,26089620,26489464,...,1,5,2,3,4,3,3,8,7,8
49,40,4,8,49,Utah,2763891,2775334,2814216,2853467,2897927,...,12,3,5,6,3,8,8,1,2,3
50,40,1,1,50,Vermont,625744,625880,626979,626063,626212,...,40,49,46,51,49,50,44,49,37,32
51,40,3,5,51,Virginia,8001055,8023680,8100469,8185229,8253053,...,13,9,11,13,21,22,21,21,19,20
52,40,4,9,53,Washington,6724540,6742902,6821655,6892876,6962906,...,6,10,7,14,10,9,7,5,4,6
53,40,3,5,54,West Virginia,1853001,1854214,1856074,1856764,1853873,...,49,44,47,49,51,51,51,51,50,51
54,40,2,3,55,Wisconsin,5687282,5690479,5704755,5719855,5736952,...,20,46,41,39,34,32,38,36,30,27
55,40,4,8,56,Wyoming,563773,564483,567224,576270,582123,...,43,34,33,4,11,44,25,47,51,45
56,40,X,X,72,Puerto Rico,3726157,3721525,3678732,3634488,3593077,...,X,X,X,X,X,X,X,X,X,X

In [9]:
# We are only interested in state name and most recent population, i,e, 2018 population.
# Rank data, change in population was not relevant to our projects.

census_columns= ['NAME', 'POPESTIMATE2018']
census = census_df[census_columns].copy()
census = census.rename(columns={'NAME': 'state','POPESTIMATE2018':'pop_2018'})

# Change state names to lower-case to match the two datasets
census['state'] = census['state'].str.lower()

# reset index to start at zero
census = census.reset_index()

# drop the index column
del census['index']

census

                   state  pop_2018
0                alabama   4887871
1                 alaska    737438
2                arizona   7171646
3               arkansas   3013825
4             california  39557045
5               colorado   5695564
6            connecticut   3572665
7               delaware    967171
8   district of columbia    702455
9                florida  21299325
10               georgia  10519475
11                hawaii   1420491
12                 idaho   1754208
13              illinois  12741080
14               indiana   6691878
15                  iowa   3156145
16                kansas   2911505
17              kentucky   4468402
18             louisiana   4659978
19                 maine   1338404
20              maryland   6042718
21         massachusetts   6902149
22              michigan   9995915
23             minnesota   5611179
24           mississippi   2986530
25              missouri   6126452
26               montana   1062305
27              nebraska   1929268
28                nevada   3034392
29         new hampshire   1356458
30            new jersey   8908520
31            new mexico   2095428
32              new york  19542209
33        north carolina  10383620
34          north dakota    760077
35                  ohio  11689442
36              oklahoma   3943079
37                oregon   4190713
38          pennsylvania  12807060
39          rhode island   1057315
40        south carolina   5084127
41          south dakota    882235
42             tennessee   6770010
43                 texas  28701845
44                  utah   3161105
45               vermont    626299
46              virginia   8517685
47            washington   7535591
48         west virginia   1805832
49             wisconsin   5813568
50               wyoming    577737
51           puerto rico   3195153

In [10]:
# change district of columnbia in the census dataframe to match the breweries dataframe
census.iloc[8,0] 
census.iloc[8,0] = 'washington dc'
census

             state  pop_2018
0          alabama   4887871
1           alaska    737438
2          arizona   7171646
3         arkansas   3013825
4       california  39557045
5         colorado   5695564
6      connecticut   3572665
7         delaware    967171
8    washington dc    702455
9          florida  21299325
10         georgia  10519475
11          hawaii   1420491
12           idaho   1754208
13        illinois  12741080
14         indiana   6691878
15            iowa   3156145
16          kansas   2911505
17        kentucky   4468402
18       louisiana   4659978
19           maine   1338404
20        maryland   6042718
21   massachusetts   6902149
22        michigan   9995915
23       minnesota   5611179
24     mississippi   2986530
25        missouri   6126452
26         montana   1062305
27        nebraska   1929268
28          nevada   3034392
29   new hampshire   1356458
30      new jersey   8908520
31      new mexico   2095428
32        new york  19542209
33  north carolina  10383620
34    north dakota    760077
35            ohio  11689442
36        oklahoma   3943079
37          oregon   4190713
38    pennsylvania  12807060
39    rhode island   1057315
40  south carolina   5084127
41    south dakota    882235
42       tennessee   6770010
43           texas  28701845
44            utah   3161105
45         vermont    626299
46        virginia   8517685
47      washington   7535591
48   west virginia   1805832
49       wisconsin   5813568
50         wyoming    577737
51     puerto rico   3195153

In [11]:
# Merge breweries and census data into a single dataframe, merging by state name

breweries_by_state = breweries.merge(census, left_on='state', right_on='state', how='outer')
breweries_by_state.sort_values('state')

             state  count  pop_2018
3          alabama    6.0   4887871
8           alaska   14.0    737438
9          arizona   34.0   7171646
10        arkansas    7.0   3013825
0       california  284.0  39557045
11        colorado  182.0   5695564
4      connecticut   11.0   3572665
12        delaware   14.0    967171
13         florida   99.0  21299325
14         georgia   47.0  10519475
15          hawaii   10.0   1420491
16           idaho   28.0   1754208
17        illinois   74.0  12741080
18         indiana   31.0   6691878
5             iowa   13.0   3156145
19          kansas   26.0   2911505
20        kentucky   12.0   4468402
21       louisiana   15.0   4659978
22           maine   44.0   1338404
23        maryland   43.0   6042718
24   massachusetts   71.0   6902149
25        michigan   94.0   9995915
26       minnesota   40.0   5611179
51     mississippi    NaN   2986530
6         missouri   21.0   6126452
27         montana   32.0   1062305
7         nebraska   15.0   1929268
1           nevada   18.0   3034392
28   new hampshire   18.0   1356458
29      new jersey   41.0   8908520
30      new mexico   37.0   2095428
31        new york  107.0  19542209
32  north carolina   61.0  10383620
33    north dakota    5.0    760077
34            ohio   56.0  11689442
35        oklahoma   16.0   3943079
36          oregon  156.0   4190713
37    pennsylvania  107.0  12807060
50     puerto rico    3.0   3195153
38    rhode island   12.0   1057315
39  south carolina   32.0   5084127
40    south dakota   11.0    882235
41       tennessee   28.0   6770010
42           texas   90.0  28701845
43            utah   21.0   3161105
44         vermont   28.0    626299
45        virginia   43.0   8517685
46      washington  151.0   7535591
49   washington dc    9.0    702455
47   west virginia    5.0   1805832
48       wisconsin   77.0   5813568
2          wyoming    8.0    577737

In [12]:
# replace NaN with zero for Mississippi because it had no data.
breweries_by_state.iloc[51,1]

breweries_by_state.iloc[51,1]=0

breweries_by_state

             state  count  pop_2018
0       california  284.0  39557045
1           nevada   18.0   3034392
2          wyoming    8.0    577737
3          alabama    6.0   4887871
4      connecticut   11.0   3572665
5             iowa   13.0   3156145
6         missouri   21.0   6126452
7         nebraska   15.0   1929268
8           alaska   14.0    737438
9          arizona   34.0   7171646
10        arkansas    7.0   3013825
11        colorado  182.0   5695564
12        delaware   14.0    967171
13         florida   99.0  21299325
14         georgia   47.0  10519475
15          hawaii   10.0   1420491
16           idaho   28.0   1754208
17        illinois   74.0  12741080
18         indiana   31.0   6691878
19          kansas   26.0   2911505
20        kentucky   12.0   4468402
21       louisiana   15.0   4659978
22           maine   44.0   1338404
23        maryland   43.0   6042718
24   massachusetts   71.0   6902149
25        michigan   94.0   9995915
26       minnesota   40.0   5611179
27         montana   32.0   1062305
28   new hampshire   18.0   1356458
29      new jersey   41.0   8908520
30      new mexico   37.0   2095428
31        new york  107.0  19542209
32  north carolina   61.0  10383620
33    north dakota    5.0    760077
34            ohio   56.0  11689442
35        oklahoma   16.0   3943079
36          oregon  156.0   4190713
37    pennsylvania  107.0  12807060
38    rhode island   12.0   1057315
39  south carolina   32.0   5084127
40    south dakota   11.0    882235
41       tennessee   28.0   6770010
42           texas   90.0  28701845
43            utah   21.0   3161105
44         vermont   28.0    626299
45        virginia   43.0   8517685
46      washington  151.0   7535591
47   west virginia    5.0   1805832
48       wisconsin   77.0   5813568
49   washington dc    9.0    702455
50     puerto rico    3.0   3195153
51     mississippi    0.0   2986530

# (L)oad

### for this project we elected to use MongoDB

In [13]:
# Use Pymongo to set up mongo connection
conn= 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [14]:
# Define a database and collection
db=client.breweries_db
breweries =db.breweries

In [15]:
# Convert dataframe to a dictionary before inserting into the collection
breweries_dict = breweries_by_state.to_dict('records')
breweries_dict

[{'state': 'california', 'count': 284.0, 'pop_2018': 39557045},
 {'state': 'nevada', 'count': 18.0, 'pop_2018': 3034392},
 {'state': 'wyoming', 'count': 8.0, 'pop_2018': 577737},
 {'state': 'alabama', 'count': 6.0, 'pop_2018': 4887871},
 {'state': 'connecticut', 'count': 11.0, 'pop_2018': 3572665},
 {'state': 'iowa', 'count': 13.0, 'pop_2018': 3156145},
 {'state': 'missouri', 'count': 21.0, 'pop_2018': 6126452},
 {'state': 'nebraska', 'count': 15.0, 'pop_2018': 1929268},
 {'state': 'alaska', 'count': 14.0, 'pop_2018': 737438},
 {'state': 'arizona', 'count': 34.0, 'pop_2018': 7171646},
 {'state': 'arkansas', 'count': 7.0, 'pop_2018': 3013825},
 {'state': 'colorado', 'count': 182.0, 'pop_2018': 5695564},
 {'state': 'delaware', 'count': 14.0, 'pop_2018': 967171},
 {'state': 'florida', 'count': 99.0, 'pop_2018': 21299325},
 {'state': 'georgia', 'count': 47.0, 'pop_2018': 10519475},
 {'state': 'hawaii', 'count': 10.0, 'pop_2018': 1420491},
 {'state': 'idaho', 'count': 28.0, 'pop_2018': 1754208},
 {'state': 'illinois', 'count': 74.0, 'pop_2018': 12741080},
 {'state': 'indiana', 'count': 31.0, 'pop_2018': 6691878},
 {'state': 'kansas', 'count': 26.0, 'pop_2018': 2911505},
 {'state': 'kentucky', 'count': 12.0, 'pop_2018': 4468402},
 {'state': 'louisiana', 'count': 15.0, 'pop_2018': 4659978},
 {'state': 'maine', 'count': 44.0, 'pop_2018': 1338404},
 {'state': 'maryland', 'count': 43.0, 'pop_2018': 6042718},
 {'state': 'massachusetts', 'count': 71.0, 'pop_2018': 6902149},
 {'state': 'michigan', 'count': 94.0, 'pop_2018': 9995915},
 {'state': 'minnesota', 'count': 40.0, 'pop_2018': 5611179},
 {'state': 'montana', 'count': 32.0, 'pop_2018': 1062305},
 {'state': 'new hampshire', 'count': 18.0, 'pop_2018': 1356458},
 {'state': 'new jersey', 'count': 41.0, 'pop_2018': 8908520},
 {'state': 'new mexico', 'count': 37.0, 'pop_2018': 2095428},
 {'state': 'new york', 'count': 107.0, 'pop_2018': 19542209},
 {'state': 'north carolina', 'count': 61.0, 'pop_2018': 10383620},
 {'state': 'north dakota', 'count': 5.0, 'pop_2018': 760077},
 {'state': 'ohio', 'count': 56.0, 'pop_2018': 11689442},
 {'state': 'oklahoma', 'count': 16.0, 'pop_2018': 3943079},
 {'state': 'oregon', 'count': 156.0, 'pop_2018': 4190713},
 {'state': 'pennsylvania', 'count': 107.0, 'pop_2018': 12807060},
 {'state': 'rhode island', 'count': 12.0, 'pop_2018': 1057315},
 {'state': 'south carolina', 'count': 32.0, 'pop_2018': 5084127},
 {'state': 'south dakota', 'count': 11.0, 'pop_2018': 882235},
 {'state': 'tennessee', 'count': 28.0, 'pop_2018': 6770010},
 {'state': 'texas', 'count': 90.0, 'pop_2018': 28701845},
 {'state': 'utah', 'count': 21.0, 'pop_2018': 3161105},
 {'state': 'vermont', 'count': 28.0, 'pop_2018': 626299},
 {'state': 'virginia', 'count': 43.0, 'pop_2018': 8517685},
 {'state': 'washington', 'count': 151.0, 'pop_2018': 7535591},
 {'state': 'west virginia', 'count': 5.0, 'pop_2018': 1805832},
 {'state': 'wisconsin', 'count': 77.0, 'pop_2018': 5813568},
 {'state': 'washington dc', 'count': 9.0, 'pop_2018': 702455},
 {'state': 'puerto rico', 'count': 3.0, 'pop_2018': 3195153},
 {'state': 'mississippi', 'count': 0.0, 'pop_2018': 2986530}]

In [16]:
# insert dictionary into breweries_db
breweries.insert_many(breweries_dict)

# Heatmap

In [17]:
# Verify that mongoDB collection was inserted properly
breweries = db.breweries.find({'state': 'california'})
breweries =list(breweries)
breweries

[{'_id': ObjectId('5dd5e34c25528bbd6b410624'),
  'state': 'california',
  'count': 284.0,
  'pop_2018': 39557045},
 {'_id': ObjectId('5dd5e787a73e509a1f3a82bc'),
  'state': 'california',
  'count': 284.0,
  'pop_2018': 39557045}]